my:
  datasource:
    settings: serverTimezone=UTC&characterEncoding=utf8&useUnicode=true&useSSL=false&serverTimezone=GMT%2B8&allowMultiQueries=true&allowPublicKeyRetrieval=true
spring:
  application:
    name: demo
  datasource:
    url: jdbc:mysql://localhost:3306/jpa_demo?${my.datasource.settings}
    username: jpa_demo
    password: jpa_demo
  redis:
    database: 10
mybatis-plus:
  #    枚举的包地址
  type-enums-package: com.caomu.demo.enums
cao-mu:
  token-expires-time: P7D
  token-exclude-url: /noLogin